{% extends "layout.html.twig" %}
{% block head %} <meta http-equiv="refresh" content="3;{{ path('home_homepage')}}"> {% endblock %}

{% block title %} {{ parent() }} - Home {% endblock %}

{% block body %}

<p> 
	Article suprimmé vous allez être redirigé vers la page d'acceuil

</p>


{% endblock %}